.footer_bg{
    width: 100%;
    background-image: url("/img/footer/all_berry_f.png");
    /* padding-bottom: 100%; */
    height: 76.51vw;
    margin-top: 150px;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
}

.footer_red{
    background-color: #E72D2D;
    width: 60%;
    border-radius: 50px 50px 0 0;
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0); /*這樣加入左邊百分比，以及translate就可以置中*/
    /* vertical-align: bottom; */
    /* align-items: flex-end; */

}

.footer_red ul{
    flex-grow: 1;
    flex-basis: 0;
    /* padding: 6% 2% 4% 7%; */
    color: #fff;
    flex-direction: column;
    padding: 0 25px;
    padding-top: 25px;
}


.footer_red li{
    font-size: 10px;
    letter-spacing: 2px;
    padding-bottom: 12%;

}


.footer_red a{
    text-decoration: none;
    color: #fff;
}

.footer_red i{
    display: block;
    width: 30px;
}

.t1{
    font-size: 20px;
    margin-bottom: 20px;
}

.t2{
    font-size: 20px;
    margin-bottom: 20px;

}

.t3{
    font-size: 20px;
    /* margin-bottom: 23%; */
}

.social_media{
    display: flex;
    /* justify-content: space-between; */
    border-top: 1px solid #fff;
    text-align: center;
    width: 85%;
    padding-top: 5px;

}

.t4ul .t4{
    font-size: 15px;
    padding-bottom: 0;
}

.t4ul{
    align-self: flex-end;
}

.social_media i{
    font-size: 20px;
    margin-right: 20px;
    text-align: center;
    /* width: 50px;       不知道icon為什麼不能加大，然後底線不會加...*/
    /* border-bottom: 1px solid #fff; */
}
