@import url(../css/reset.css);
/*-----------------內頁版nav------------------*/
.category_p{
    background-image: url("../img/logo_bg.png");
    width: 100%;
    /* padding-bottom: 56.25%; */
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    

}

.wrapper{
    display: flex;
    justify-content: flex-end;

    /* position: relative; */
}

.category_right .logo_2 {
    width: 80px;
}

.category_right{
    display: flex;
    align-items: center;
    position: absolute;
    top:0;
    right: -100px;
    position: fixed;
    padding: 30px 120px 0 0;
}

.category_right a{
    color: #CDC3A7;
}

.category_right a{
    text-decoration: none;
    margin:0 10px;
}

.search{
    /* margin-right: 20px; */
    border-bottom: .25px solid #CDC3A7;
    width: 90px;
}

.nav_right{
    position: absolute;
    right: -130px;
    top: 340px;
    position: fixed;
    display: flex;
    background-color:#CDC3A7;
    line-height: 2.4;
    border-radius: 0 0 0 30px;
    transform: rotate(90deg);
}

.nav_right li{
    /* margin: 0 20px; */
    letter-spacing: 1px;
    /* border-right: 1px solid #fff; */
}

.nav_right .nv_right:not(:last-child){  /*加這個讓最後一個線段消失*/
    border-right: 1px solid #fff;
}

.nav_right a{
    color: #fff;
    text-decoration: none;
    margin: 0 25px;
}

.nav_right .ft_red{
    color: #fff;
    background-color:#E72D2D;
    padding: 3px;
    border-radius: 5px;
    font-size: 13px;
}

.nv_list{
    background-color: #E72D2D;
    align-content: center;
    position: absolute;
    left: 190px;
    top: -13px;
    display: none;
    transform: rotate(-90deg);
}

.nv_list .nv_li{
    font-size: 14px;
    margin: 10px 0;
}

li:hover .nv_list{
    display: block;
}

.nv_li .ai_a{
    display: block;
    width: 90px;
    text-decoration: none;
    color: #fff;
}

.ai_a:hover{
    color: #5e5e5e;
}